title: Digital Artisan
email: contact@mfaouzia.top
description: >- # this means to ignore newlines until "baseurl:"
  A high-end cinematic personal blog following an "Obsidian and Amber" 
  aesthetic and the "Silent Move" philosophy.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://mfaouzia.top" # the base hostname & protocol for your site
twitter_username: mfaouzia
github_username:  mfaouzia

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
